[submodule "take-1/gpio"]
	path = take-1/gpio
	url = https://github.com/JSkrat/RPi.GPIO-Odroid.git
[submodule "take-2/scgi-c-library"]
	path = take-2/scgi-c-library
	url = https://github.com/semitrivial/scgi-c-library.git
[submodule "take-2/RF24"]
	path = take-2/RF24
	url = https://github.com/JSkrat/RF24.git
